* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: rgba(173, 173, 173, 0.767) 1px 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*-------------------------------------------------HEADER---------------------------------------------------------*/

.principalHeader {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgba(24, 199, 117, 0.685);
    width: 100%;
    box-shadow: rgba(168, 168, 168, 0.753) 2px 2px;
}

.principalHeader nav {
    color: white;
    margin: 25px 40px;
}

.menu a {
    margin: 5px 15px;
    color: black;
    font-weight: bold;
    font-size: 15pt;
    color: white;
}


/*------------------------------------------------CONTAINER---------------------------------------------------------*/

.asaid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.asaid h2 {
    margin-bottom: 20px;
    font-family: 'Parisienne', cursive;
    font-size: 30pt;
}

.titleProduct {
    display: flex;
    justify-content: center;
}


/*COUNT*/

.keypad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: rgb(82, 82, 128) solid 2px;
    border-radius: 5px;
}

.keypad button {
    margin: 0 15px 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
}

.buttonAdd {
    width: 30px;
    height: 30px;
    text-align: center;
}

.buttonAddState {
    font-size: 14pt;
    font-weight: bold;
}

.buttonCart {
    width: 140px;
    height: 30px;
    margin: 0 15px 0 15px;
    font-weight: 500;
    color: white;
    text-shadow: rgba(173, 173, 173, 0.767) 1px 1px;
    background-color: rgb(63, 63, 122);
    border-radius: 5px;
}

.btnRemove {
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgb(179, 15, 15);
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.sales {
    margin: 80px 0 0 30px;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 30pt;
}

.productCatalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.productCatalogItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 20px 0px;
}

.itemMore {
    color: rgb(63, 63, 122);
}

.coderHouse {
    text-align: center;
}


/*-------------------------------------------------FOOTER---------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(2, 2, 37, 0.8) 100%);
    border-top: white solid 2px;
    margin-top: 20px;
}

.textFooter {
    margin-bottom: 10px;
    font-size: 9pt;
    color: rgb(228, 228, 228);
}

.socialNetworks {
    margin-top: 40px;
    margin-bottom: 20px;
}

.socialNetworks a {
    padding: 0 100px;
    color: rgb(228, 228, 228);
    font-size: 16pt;
}